<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:janymq="http://www.mzhong.cn/schema/janymq"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.mzhong.cn/schema/janymq http://www.mzhong.cn/schema/janymq.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl"
                  value="jdbc:mysql://mzhong.cn:3306/janymq?characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=UTC&amp;rewriteBatchedStatements=true"/>
        <property name="user" value="root"/>
        <property name="password" value="mzh176506"/>
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
    </bean>

    <!--redis 实现-->
    <janymq:application basePackage="cn.mzhong">
        <!--<janymq:provider-redis host="mzhong.cn" port="6379"/>-->
        <!--<janymq:zookeeper connectString="mzhong.cn:2181"/>-->
        <janymq:provider-jdbc dataSource-ref="dataSource"/>
        <janymq:conf-pipleline idleInterval="5000"/>
        <janymq:conf-loopline idleInterval="5000"/>
    </janymq:application>

    <bean class="cn.mzhong.janymq.consumer.TestBean"/>
    <context:component-scan base-package="cn.mzhong"/>
</beans>