<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:janytask="http://www.mzhong.cn/schema/janytask"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.mzhong.cn/schema/janytask http://www.mzhong.cn/schema/janytask.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="mysqlDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl"
                  value="jdbc:mysql://mzhong.cn:3306/janytask?characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=UTC&amp;rewriteBatchedStatements=true"/>
        <property name="user" value="root"/>
        <property name="password" value="mzh176506"/>
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
    </bean>

    <bean id="oracleDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="jdbc:oracle:thin:@91.12.67.116:10007/edrsdb"/>
        <property name="user" value="wsbsfwt"/>
        <property name="password" value="wsbsfwt"/>
        <property name="driverClass" value="oracle.jdbc.OracleDriver"/>
    </bean>

    <bean id="configurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:janytask.properties</value>
            </list>
        </property>
    </bean>

    <janytask:application name="test-application" />

    <janytask:provider-redis package="cn.mzhong.janytask.test.redis"
                             host="${janytask.provider.redis.host}"
                             port="6379" />

    <!--<bean id="jdbc-provider" class="cn.mzhong.janytask.queue.provider.jdbc.JdbcProvider">-->
        <!--<property name="package" value="cn.mzhong.janytask.test.jdbc"/>-->
        <!--<property name="dataSource" ref="mysqlDataSource"/>-->
    <!--</bean>-->
    <!--<janytask:provider-zookeeper connectString="mzhong.cn:2181"/>-->
    <janytask:provider-jdbc package="cn.mzhong.janytask.test.jdbc"
                            dataSource-ref="mysqlDataSource"/>

    <context:component-scan base-package="cn.mzhong"/>
</beans>